<div class="w-[120px] h-[120px] rounded-full overflow-hidden bg-black">
  <%= image_tag "profile_gpt.png",
        alt: "Profile photo",
        class: "w-full h-full object-contain bg-black scale-105" %>
</div>
